
body{
    margin: 0px;
    background-image:
        radial-gradient(at 29% 53%, hsla(244,73%,77%,1) 0px, transparent 50%),
        radial-gradient(at 95% 28%, hsla(285,87%,70%,1) 0px, transparent 50%),
        radial-gradient(at 66% 12%, hsla(6,92%,70%,1) 0px, transparent 50%),
        radial-gradient(at 85% 71%, hsla(333,76%,77%,1) 0px, transparent 50%),
        radial-gradient(at 25% 58%, hsla(62,61%,60%,1) 0px, transparent 50%),
        radial-gradient(at 6% 91%, hsla(65,66%,71%,1) 0px, transparent 50%),
        radial-gradient(at 52% 25%, hsla(348,80%,64%,1) 0px, transparent 50%);
    background-attachment: fixed;
    color:rgb(9, 9, 9);
    text-align: center;
}

#header{
    background-color:#232121;
    padding:1px 0;
    width:100%;
    position:fixed;
    top:0;
}

header,footer{
    background-color:#232121;
    padding:1px 0;
    width:100%;
}

#label-score,#start,#label-hscore{
    display:inline-block;
    color:white;
    padding: 1px 150px;
    font-family: Georgia, serif;

}

#start:link{
    text-decoration:none;
}

#title{
    background-color:#e6799a;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

#heading-2{
    padding:auto;
    position:static;
    height: 10vh;
    font-family: Georgia, serif;
    font-size: 1cm;
}

#heading{
    padding-top:20px;
    font-family: Georgia, serif;
    position: static;
    font-size: 2cm;
}

h3{
    display:flex;
    justify-content:center;
    font-family: Georgia, serif;
    font-size: 1cm;;
}

#instructions{
    padding-bottom: 3cm;
    padding-top: 0cm;
}

#li1,#li2,#li3,#li4,#li5{
    display: flex;
    justify-content:center;
    font-family: Georgia, serif;
    font-size:0.5cm;
    padding-bottom:1cm;
}
#container{
    border:black dashed 5px;
    border-radius: 25px;
    background-color: #22b14c;
    background-position: 90% 20%;
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    height: 9cm;
    width:50%; 
    font-family: Georgia, serif;
    display:inline-block;
    box-shadow: -7px 8 px rgb(44, 42, 42);
}

main{
    padding-bottom:2cm;
}

#btn{
    font-size: 0.7cm;
    font-family: Chalkduster, fantasy;
    margin-top: 0.5cm;
    width: 5cm;
    height: 1cm;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 2cm;
    box-shadow: 0 7px rgb(9, 9, 9);
}

#btn:hover{
    background-color:lightseagreen;
    cursor:pointer;
}

#btn:active{
    background-color:lightseagreen;
    box-shadow: 0 3px black;
    transform: translateY(3px);
}
#userInput{
    height: 20px;
    width: 10cm;
    padding-bottom: 10px 20px 50px;
    border-radius: 4cm;
    box-shadow: 2cm;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: center;
}

#text,#outputtext{
    font-size: 1cm;  
}

footer{
    bottom:0;
    color:white;
    text-align: center;
    position: static;
}
