* {
  margin: 10px 50px 20px;
  padding: 0;
  }


   body {
    margin: 10px 50px 20px;
    display: grid;
    position: relative;
    place-items: center;
    background-color: rgba(75, 100, 122, 0.459);
    overflow: hidden;
  }
    
  .cont {
    display: grid;
    width: 600px;
    background-color: rgb(3, 6, 8);
    grid-template-columns: repeat(10, 1fr);
    margin: 0px 0 0px 0;
  }
  
  .cont div {
    width: 60px;
    height: 60px;
    background-color: rgb(1, 7, 12);
    border: 0.2px solid black;
  }
    
   #diceBtn {
      width: 200px;
      margin-left: 20px;
      border: 0.2px solid black;
    }
  
   #diceBtn {
      width: 200px;
      margin-left: 20px;
      background-color: rgba(138, 78, 111, 0.315);
    }
  