*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

input[type="text"], input[type="password"], input[type="date"] {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:#3d2428;
    border: 2px solid #3d2428;
}

.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:#3d2428;
    border: 2px solid #3d2428;
}
.btn:hover{
    background: transparent;
    border-color: #705358;
    color: #5f2c35;
}
.container{
    position: absolute;
    top: 35%;
    left: 8%;
}
.container .title{
    color: #b3b3be;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 20px;
    background: #fff 100%;
    -webkit-background: text;
    -webkit-text-fill-color: transparent;
}

.container h2{
    color: #ec96e5;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 50%;
}

